@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,body,html{
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 640px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #3d3d5f;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}


.list-colapse-animation{
  animation: list-colapse-animation 0.5s ease-in-out;
}
@keyframes list-colapse-animation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    height: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    height: 100%;
  }
}

